.dialog {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  width: 100%;
  background: #ffffff;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    border-bottom: 1px solid #f7f7f7;

    &-info {
      text-align: center;

      &-title {
        font-size: 16px;
        font-weight: 500;
      }

      &-online {
        width: 50px;
        margin: 0 auto;
        padding-left: 9px;
        position: relative;
        color: #cbcbcb;

        &:before {
          content: "";
          position: absolute;
          left: -3px;
          top: 50%;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #00c980;
        }
      }

      &-offline {
        width: 50px;
        margin: 0 auto;
        padding-left: 9px;
        position: relative;
        color: #cbcbcb;

        &:before {
          content: "";
          position: absolute;
          left: -3px;
          top: 50%;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #ff4d4f;
        }
      }
    }
  }

  &__messages {
    max-height: 870px;
    height: 100%;
    padding: 20px 35px;
    overflow-y: auto;
  }
}
