.message {
  $message: &;
  display: flex;
  margin-bottom: 15px;

  &--same {
    margin-bottom: 2px;

    #{$message}__content {
      &-text {
        border-radius: 12px !important;
      }
    }
  }

  &--me {
    flex-direction: row-reverse;

    #{$message}__avatar {
      margin-right: 0;
      margin-left: 13px;
    }

    #{$message}__content {
      &-text {
        position: relative;
        float: right;
        border: 1px solid #ECECEC;
        border-radius: 12px 12px 0 12px;
        background: #FFFFFF;
        color: #202020 !important;
        box-shadow: none;
        &:before {
          content: url("../../assets/images/read/unread.svg");
          position: absolute;
          right: 0;
          left: -17px;
          bottom: -6px;
        }

        &--read {
          &:before {
            content: url("../../assets/images/read/read.svg");
          }
        }
      }

      &-date {
        display: block;
        text-align: right;
        clear: both;
      }


    }
  }

  &__avatar {
    margin-right: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .ant-avatar {
      margin-bottom: 18px;
    }
  }

  &__content {
    position: relative;
    max-width: 600px;

    &-attachments {
      display: flex;
      flex-direction: column;

      img {
        cursor: pointer;
        margin-bottom: 10px;
      }

      //&-file {
      //  width: 170px;
      //  margin-bottom: 10px;
      //
      //  &-top {
      //    position: relative;
      //    height: 60px;
      //    padding: 10px;
      //    border-radius: 6px 6px 0 0;
      //    background: #EFF4FF;
      //
      //    span:nth-child(1) {
      //      display: block;
      //      font-weight: 500;
      //    }
      //
      //    span:nth-child(2) {
      //      display: block;
      //      font-size: 13px;
      //      color: #8C8C8C;
      //    }
      //
      //    &:after {
      //      position: absolute;
      //      content: url('../../assets/images/file.svg');
      //      right: 20px;
      //      top: 15px;
      //      overflow: hidden;
      //    }
      //  }
      //
      //  &-bottom {
      //    display: flex;
      //    height: 30px;
      //    align-items: center;
      //    border-radius: 0 0 6px 6px;
      //    background: #3674FF;
      //    cursor: pointer;
      //
      //    .anticon {
      //      margin: 0 10px;
      //      color: #FFFFFF;
      //      font-size: 16px;
      //    }
      //
      //    span {
      //      color: #FFFFFF;
      //    }
      //  }
      //}
    }

    &-text {
      display: inline-block;
      margin-bottom: 4px;
      padding: 13px;
      border-radius: 12px 12px 12px 0;
      line-height: 20px;
      background: #3674FF;
      color: #FFFFFF !important;
      box-shadow: 0 5px 5px #D7E3FF;
      word-break: break-word;
      white-space: pre-line;
      &::selection {
        background: #8C8C8C;
      }
    }

    &-date {
      font-size: 12px;
      color: #8C8C8C;
    }

  }
}