.message {
  $message: &;
  display: flex;
  margin-bottom: 15px;

  &--same {
    margin-bottom: 2px;

    #{$message}__content {
      &-text {
        border-radius: 12px !important;
      }
    }
  }

  &--me {
    flex-direction: row-reverse;

    #{$message}__avatar {
      margin-right: 0;
      margin-left: 13px;
    }

    #{$message}__content {
      &-text {
        position: relative;
        float: right;
        border: 1px solid #ececec;
        border-radius: 12px 12px 0 12px;
        background: #ffffff;
        color: #202020 !important;
        box-shadow: none;

        &:before {
          content: url("../../assets/images/read/unread.svg");
          position: absolute;
          right: 0;
          left: -17px;
          bottom: -6px;
        }

        &--read {
          &:before {
            content: url("../../assets/images/read/read.svg");
          }
        }
      }

      &-date {
        display: block;
        text-align: right;
        clear: both;
      }
    }
  }

  &__avatar {
    margin-right: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .ant-avatar {
      margin-bottom: 18px;
    }
  }

  &__content {
    position: relative;
    max-width: 600px;

    &-attachments {
      display: flex;
      flex-direction: column;

      img {
        cursor: pointer;
        margin-bottom: 10px;
      }
    }

    &-text {
      display: inline-block;
      margin-bottom: 4px;
      padding: 13px;
      border-radius: 12px 12px 12px 0;
      line-height: 20px;
      background: #3674ff;
      color: #ffffff !important;
      box-shadow: 0 5px 5px #d7e3ff;
      word-break: break-word;
      white-space: pre-line;

      &::selection {
        background: #8c8c8c;
      }
    }

    &-date {
      font-size: 12px;
      color: #8c8c8c;
    }
  }
}
